@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 236, 198;
  --background-end-rgb: 228, 230, 192;
  --primary-color: 75, 188, 215;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #eaecc6;
  min-height: 100vh;
  cursor: none;
}

@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
